Project 3 Pair Programming Log

Use this log to record the dates and times you work on your project, which 
team members were working ont he project, and who was driving.

10/26, 6:45 - 7:45 pm Vincent, Matthew
Driver Order and Time Length:
Matthew 30 min
Vincent 30 min

10/27, 5:30 - 6:30 pm Vincent, Matthew
Driver Order and Time Length:
Matthew 30 min
Vincent 30 min

10/28, 6:45 - 8:40 pm Vincent, Matthew
Driver Order and Time Length:
Matthew 30 min
Vincent 30 min

10/30, 6:15 - 7:45 pm Vincent, Matthew
Vincent, Matthew
Driver Order and Time Length:
Matthew 30 min
Vincent 30 min
Matthew 30 min

11/2, 4:15 - 6:15 pm Vincent, Matthew
Vincent, Matthew
Vincent 30 min
Matthew 30 min
Vincent 30 min
Matthew 30 min

11/7, 7:10 - 7:40 pm Vincent, Matthew
Vincent 30 min

11/8, 6:50 - 8:43 pm Vincent, Matthew
Matthew 30 min
Vincent 30 min
+ A lot of debugging

11/9, 6:45 - 7:45 pm Vincent, Matthew
Driver Order and Time Length:
Matthew 30 min
Vincent 30 min (Mostly debugging for final test cases)